.navbar.container{
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: antiquewhite;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  height: 5rem;
  gap: 2rem
}
a:link, a:visited{
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
  color:antiquewhite
}

a:hover, a:active{
  text-decoration: underline;
}