*{
  margin: 0;
  padding: 0; 
}
#root{
  background-color: #f3feff;
  overflow: hidden;
}
.page.contianer{
  overflow: hidden;
  margin: 0;
}

/* page 1 */
.page.logo{
  position: relative;
  z-index:1 ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.page.logo img{
  max-height: inherit;
}


.footer{
  width: 100%;
  bottom: 0;
  background-color: black;
  color: #f3feff;
}

@media screen and (max-width: 600px){
  .page.one.logo img{
    max-width: 100%;
  }
}