#root{
  height: 100%;
  background-color: #f3feff;
}
.navbar.container{
  background-color: #fff3f8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fffcf3;
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  height: 5rem;
  gap: 2rem;
  position: relative;
  z-index: 2;
  width: 100%;
}
a:link, a:visited{
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
  color:antiquewhite
}

a:hover, a:active{
  text-decoration: underline;
}

.page.one{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page.two{
  display: flex;
  justify-content: space-between;
}

.page.three{
  display: flex;
  justify-content: space-between;
}

.page.four{
  display: flex;
  justify-content: space-between;
}